In [1]:
# list
laptop_models = ["macbook", "asus", "dell", "lenovo"]
laptop_models

['macbook', 'asus', 'dell', 'lenovo']

In [2]:
len(laptop_models)

4

In [3]:
list_example = ["bank", 28, True, ["one", 'two']]
list_example

['bank', 28, True, ['one', 'two']]

In [4]:
len(list_example)

4

In [ ]:
# laptop_models[position]
laptop_models[0]

'macbook'

In [ ]:
laptop_models[1]

In [ ]:
laptop_models[len(laptop_models) - 4]

In [8]:
laptop_models[-1]

'lenovo'

In [9]:
laptop_models[-2]

'dell'

In [10]:
# modification
# add 
# append(), insert()
laptop_models.append('sony')
laptop_models

['macbook', 'asus', 'dell', 'lenovo', 'sony']

In [11]:
laptop_models.insert(0, 'hp')
laptop_models

['hp', 'macbook', 'asus', 'dell', 'lenovo', 'sony']

In [12]:
laptop_models.insert(2, 'toshiba')
laptop_models

['hp', 'macbook', 'toshiba', 'asus', 'dell', 'lenovo', 'sony']

In [13]:
# remove
# pop(), remove(), del
laptop_models.pop()
laptop_models

['hp', 'macbook', 'toshiba', 'asus', 'dell', 'lenovo']

In [14]:
laptop_models.pop(2)
laptop_models

['hp', 'macbook', 'asus', 'dell', 'lenovo']

In [15]:
laptop_models.remove('asus')
laptop_models

['hp', 'macbook', 'dell', 'lenovo']

In [16]:
del laptop_models[2]
laptop_models

['hp', 'macbook', 'lenovo']

In [17]:
name = "ben"
name

'ben'

In [18]:
name

'ben'

In [19]:
del name

In [20]:
name

NameError: name 'name' is not defined

In [21]:
cars = ['toyota', 'mitsuibishi', 'audi', 'ford', 'volvo', 'hyundai', 'kia', 'opel']
cars

['toyota', 'mitsuibishi', 'audi', 'ford', 'volvo', 'hyundai', 'kia', 'opel']

In [22]:
len(cars)

8

In [23]:
# sort
# temporal
# permanent

sorted(cars)

['audi', 'ford', 'hyundai', 'kia', 'mitsuibishi', 'opel', 'toyota', 'volvo']

In [24]:
cars

['toyota', 'mitsuibishi', 'audi', 'ford', 'volvo', 'hyundai', 'kia', 'opel']

In [25]:
cars.sort()

In [26]:
cars

['audi', 'ford', 'hyundai', 'kia', 'mitsuibishi', 'opel', 'toyota', 'volvo']

In [27]:
cars

['audi', 'ford', 'hyundai', 'kia', 'mitsuibishi', 'opel', 'toyota', 'volvo']

In [28]:
cars = ['toyota', 'mitsuibishi', 'audi', 'ford', 'volvo', 'hyundai', 'kia', 'opel']
cars

['toyota', 'mitsuibishi', 'audi', 'ford', 'volvo', 'hyundai', 'kia', 'opel']

In [29]:
sorted_cars = sorted(cars)
sorted_cars

['audi', 'ford', 'hyundai', 'kia', 'mitsuibishi', 'opel', 'toyota', 'volvo']

In [30]:
cars

['toyota', 'mitsuibishi', 'audi', 'ford', 'volvo', 'hyundai', 'kia', 'opel']

In [31]:
name = "Kwame"
len(name)

5

In [32]:
len(cars[1])

11

In [33]:
car = cars[1]
len(car)

11

In [34]:
ages = [10, 10, 12, 15, 20, 18, 20]
len(ages)

7

In [35]:
sorted(ages)

[10, 10, 12, 15, 18, 20, 20]

In [36]:
ages.reverse()

In [37]:
ages

[20, 18, 20, 15, 12, 10, 10]

In [38]:
ages.sort(reverse=True)
ages

[20, 20, 18, 15, 12, 10, 10]

In [39]:
# basic stats
# max, min, sum

max(ages)

20

In [40]:
min(ages)

10

In [41]:
sum(ages)

105

In [42]:
# range(start, end+1, step)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(nums)

55

In [43]:
sum(range(0, 11))

55

In [44]:
# for loop
for n in nums:
    print(n*2, end=", ")

0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [45]:
sentence = f"Welcome to python" + "\n" + "land"
sentence

'Welcome to python\nland'

In [46]:
for num in nums:
    print(num ** 2)

0
1
4
9
16
25
36
49
64
81
100

In [47]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# find the sum of the squared values between 0 and 10 
squared_values = []
for n in nums:
    squared_values.append(n ** 2)
    
squared_values

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
sum(squared_values)

385

In [49]:
# find the sum of the cubed values between 10 and 20 using the range method.
# range(start, end+1, step)

cubed_values = []
for num in range(10, 21):
    cubed_values.append(num ** 3)
    
cubed_values

[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [50]:
sum(cubed_values)

42075

In [51]:
new_values = []
for num in range(0, 11):
    a = 10
    new_values.append(num + a)

In [52]:
numbers = range(10, 21)
list(numbers)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [53]:
15 in numbers

True

In [54]:
21 in numbers

False

In [55]:
# branching
# Truthy or Falsey
# Boolean True, False
# Comparison Operators
# ==, !=, >, >=, <, <=
1 == 1

True

In [56]:
1 > 9

False

In [57]:
10 >= 8

True

In [58]:
9 != 10

True

In [59]:
# Logical Operators
# and, or
(1 == 1) and (10 < 19)

True

In [60]:
(1 != 1) or (10 < 19)

True

In [61]:
my_age = 82
my_age = 83

In [62]:
my_age

83

In [63]:
20 % 3

2

In [64]:
for n in range(0, 11):
    if n % 2 == 0:
        print(f"{n} is even")
    else:
        print(f"{n} is old")

0 is even
1 is old
2 is even
3 is old
4 is even
5 is old
6 is even
7 is old
8 is even
9 is old
10 is even

In [65]:
# if statements
# if (condition):
#    perform an action
#else:
#    we perform different action

age = 17
if (age >= 18):
    print("you can vote")
else:
    print("you are a minor")

you are a minor

In [66]:
even = []
odd = []
numbers = range(0, 21)

for n in numbers:
    if n % 2 == 0:
        even.append(n)
    else:
        odd.append(n)

even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [67]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
age = 10

if age >= 21:
    print("You can allowed to take alcohol")
elif age >= 18:
    print("You can vote")
elif age >= 16:
    print("You can drive")
else:
    print("You are a minor")

You are a minor

In [69]:
# grading scheme
# 80 -> 100 A
# 70 -> 79 B
# 60 -> 69 C
# 50 -> 59 D
# <50 -> F


# assuming you have 9 students in the class
# with the ff scores, 89, 69, 90, 48, 80, 77, 60, 72, 59
# use the above if statement to determine their grades.

In [1]:
# slicing
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[6] slice[start: end]

6

In [71]:
ex = nums[2:6]
ex

[2, 3, 4, 5]

In [2]:
a = nums[:6:2]
a

[0, 2, 4]

In [73]:
b = nums[6:]
b

[6, 7, 8, 9, 10]

In [4]:
c = nums[::3]
c

[0, 3, 6, 9]

In [75]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
nums_copy = nums

In [77]:
nums_copy

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
nums_copy.append(11)
nums_copy

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [79]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [80]:
nums_copy_right = nums[:]
nums_copy_right

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [81]:
nums_copy_right.append(12)
nums_copy_right

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [82]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [83]:
d = 15
d

15

In [84]:
id(d)

140724910220520

In [85]:
c = d

In [86]:
id(c)

140724910220520

In [87]:
e = 1234
e

1234

In [88]:
id(e)

2364990389584

In [89]:
# Tuple
ages = (200, 150)
ages

(200, 150)

In [90]:
ages[1]

150

In [91]:
ages[0]

200

In [92]:
ages[0] = 200

TypeError: 'tuple' object does not support item assignment

In [93]:
for i in ages:
    print(i ** 2)

40000
22500

In [94]:
type(ages)

tuple

In [95]:
type(cars)

list

In [96]:
brands = "Nokia", "Samsung"
type(brands)

tuple

In [97]:
tvs = "LG",
type(tvs)

tuple

In [98]:
tvs = list(tvs)
type(tvs)

list

In [99]:
type(2)

int

In [100]:
check_type = str(2)
type(check_type)

str

In [101]:
# dictionaries
# key -> value pairs
person = {
    "name": "Achy",
    "age": 82,
    "height": 154,
    "isMale": True
}

In [102]:
person

{'name': 'Achy', 'age': 82, 'height': 154, 'isMale': True}

In [110]:
for k, v in person.items():
    print(k, v)

name Achy
age 82
height 154
isMale True

In [106]:
for key in person.keys():
    print(key)

name
age
height
isMale

In [107]:
for values in person.values():
    print(values)

Achy
82
154
True

In [111]:
person["name"]

'Achy'

In [112]:
person["age"]

82

In [113]:
person["isMale"]

True

In [114]:
person["name"] = "Ben"
person

{'name': 'Ben', 'age': 82, 'height': 154, 'isMale': True}

In [115]:
person["profession"] = "Entrepreneur"
person

{'name': 'Ben',
 'age': 82,
 'height': 154,
 'isMale': True,
 'profession': 'Entrepreneur'}

In [116]:
person["hobbies"] = ["Football", "Video Games", "Chess", "Movies"]
person

{'name': 'Ben',
 'age': 82,
 'height': 154,
 'isMale': True,
 'profession': 'Entrepreneur',
 'hobbies': ['Football', 'Video Games', 'Chess', 'Movies']}

In [117]:
person["address"] = {
    "city": "Kumasi",
    "country": "Ghana"
}
person

{'name': 'Ben',
 'age': 82,
 'height': 154,
 'isMale': True,
 'profession': 'Entrepreneur',
 'hobbies': ['Football', 'Video Games', 'Chess', 'Movies'],
 'address': {'city': 'Kumasi', 'country': 'Ghana'}}

In [118]:
person["coordinates"] = (-1.423, 50.121)
person

{'name': 'Ben',
 'age': 82,
 'height': 154,
 'isMale': True,
 'profession': 'Entrepreneur',
 'hobbies': ['Football', 'Video Games', 'Chess', 'Movies'],
 'address': {'city': 'Kumasi', 'country': 'Ghana'},
 'coordinates': (-1.423, 50.121)}

In [129]:
# User inputs
age = int(input("What is your age?"))
statement = f"You'll be {age + 1} next year"
statement

What is your age?50

"You'll be 51 next year"

In [132]:
age = int(input("Enter Age"))

if age >= 21:
    print("You can allowed to take alcohol")
elif age >= 18:
    print("You can vote")
elif age >= 16:
    print("You can drive")
else:
    print("You are a minor")

KeyboardInterrupt: Interrupted by user

In [138]:
# looping
# while loop
number = 0
while number <= 10:
    print(number)
    number += 2

0
2
4
6
8
10

In [134]:
first = 1
first = first + 1
first

2

In [135]:
first = first + 1
first

3

In [136]:
first += 1
first

4

In [137]:
first += 2
first

6

In [141]:
number = 0
multiplier = int(input("Enter multiplier"))

while number <= 12:
    print(f"{multiplier} * {number} = {multiplier * number}")
    number += 1

Enter multiplier12
12 * 0 = 0
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [145]:
number = 0
multiplier = int(input("Enter multiplier"))
# exit_number = int(input("Enter Exit Number"))

while number <= 50:
    print(f"{multiplier} * {number} = {multiplier * number}")
    number += 1
    if(number == 20):
        break

Enter multiplier20
20 * 0 = 0
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200
20 * 11 = 220
20 * 12 = 240
20 * 13 = 260
20 * 14 = 280
20 * 15 = 300
20 * 16 = 320
20 * 17 = 340
20 * 18 = 360
20 * 19 = 380

In [146]:
number = 0
multiplier = int(input("Enter multiplier"))
prods = []

while number <= 12:
    prod = multiplier * number
    prods.append(prod)
    # print(f"{multiplier} * {number} = {multiplier * number}")
    number += 1

prods

Enter multiplier13

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156]

In [147]:
sum(prods)

1014

In [149]:
# list comprehension
sum([x for x in range(0, 11)])

55

In [150]:
sum([x * 13 for x in range(0, 13)])

1014

In [5]:
# Functions
# series of related codes 
# reusable

def greet():
    print("Welcome!")

In [6]:
# Calling the function
# function_name(arguments)

greet()

Welcome!

In [7]:
greet()

Welcome!

In [8]:
def greet_user(username):
    print(f"Welcome {username}")

In [9]:
greet_user("Ben")

Welcome Ben

In [10]:
greet_user("Jeff")

Welcome Jeff

In [11]:
def power(a, b):
    print(a ** b)

In [12]:
power(2, 10) # 2 ** 10

1024

In [13]:
power(3, 5)

243

In [14]:
def future_value(r, pv, t):
    print(pv * (1 + r) ** t)

In [15]:
future_value(0.05, 100, 3)

115.76250000000002

In [16]:
future_value(0.10, 5000, 5)

8052.550000000003

In [19]:
def power(a, b=2):
    print(a ** b)

In [20]:
power(10)

100

In [21]:
power(10, 3)

1000

In [22]:
# return 
def cube(n):
    return n ** 3

In [23]:
print(cube(15))

3375

In [24]:
cube(5)

125

In [25]:
stats = range(0, 201)

In [26]:
def list_range(values):
    return max(values), min(values)

In [27]:
list_range([2, 4, 56, 28, 23, 99, 45, 73])

(99, 2)

In [28]:
list_range(stats)

(200, 0)

In [29]:
# recursive function
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)

In [36]:
factorial(5)

120

In [33]:
5 * 4 * 3 * 2 * 1

120

In [37]:
# Anonymous function
# Function with no name
# lambda function
square = lambda x: x ** 2

In [38]:
square(2)

4

In [39]:
square(20)

400

In [ ]:
def square(x):
    return x ** 2

In [43]:
# sets
numbers = set() # {}

In [44]:
numbers

set()

In [53]:
nums = {2, 3, 4, 5, 6, 7,  4, 3}
nums

{2, 3, 4, 5, 6, 7}

In [46]:
type(nums)

set

In [47]:
numbers.add(2)

In [48]:
numbers

{2}

In [50]:
cars = list()

In [51]:
cars.append(2)

In [52]:
cars

[2]

In [54]:
nums

{2, 3, 4, 5, 6, 7}

In [55]:
numbers

{2}

In [56]:
numbers.add(6)

In [57]:
numbers

{2, 6}

In [58]:
nums

{2, 3, 4, 5, 6, 7}

In [59]:
nums.remove(2)

In [60]:
nums

{3, 4, 5, 6, 7}

In [61]:
# Union
# Intersection

numbers | nums

{2, 3, 4, 5, 6, 7}

In [62]:
numbers - nums

{2}

In [63]:
nums - numbers

{3, 4, 5, 7}

In [64]:
nums.intersection(numbers)

{6}

In [65]:
nums.union(numbers)

{2, 3, 4, 5, 6, 7}

In [66]:
nums.isdisjoint(numbers)

False

In [67]:
a = [1, 2, 3, 4]
b = [2, 3, 4, 5]
a = a + b

[1, 2, 3, 4, 2, 3, 4, 5]

In [71]:
old_cities = ["Accra", "Kumasi", "Tema"]
new_cities = ["Tamale", "Sunyani", "Bolgatanga"]
# old_cities = old_cities + new_cities
old_cities

['Accra', 'Kumasi', 'Tema']

In [72]:
old_cities.extend(new_cities)

In [73]:
old_cities

['Accra', 'Kumasi', 'Tema', 'Tamale', 'Sunyani', 'Bolgatanga']

In [74]:
a.extend(b)
a

[1, 2, 3, 4, 2, 3, 4, 5]

In [75]:
a

[1, 2, 3, 4, 2, 3, 4, 5]

In [76]:
a + b

[1, 2, 3, 4, 2, 3, 4, 5, 2, 3, 4, 5]

In [83]:
# list comprehension
ages = range(0, 101)

sum(ages)

5050

In [79]:
nums = range(0, 101)
# find the sum of the numbers from 51 to 100

In [80]:
sum(range(51, 101))

3775

In [82]:
total = []

for n in nums:
    if n > 50:
        total.append(n)
        
sum(total)

3775

In [92]:


[n for n in nums if n % 5 == 0]

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [94]:
# Enumeration
for position, item in enumerate(["nissan", "audi", "ford"]):
    print(position, item)

0 nissan
1 audi
2 ford

In [99]:
items = [2, 4, 6, 8, 0]
items.sort()

for x, y in enumerate(items):
    print(x + 1, y)

1 0
2 2
3 4
4 6
5 8

In [102]:
names = ["Ben", "Acheampong", "Osei", "Kwame"]
ages = [30, 27, 32, 35]
# zip
for name, age in zip(names, ages):
    print(name, age)

Ben 30
Acheampong 27
Osei 32
Kwame 35

In [103]:
names

['Ben', 'Acheampong', 'Osei', 'Kwame']

In [104]:
ages

[30, 27, 32, 35]

In [101]:
list(zip(names, ages))

[('Ben', 30), ('Acheampong', 27), ('Osei', 32), ('Kwame', 35)]